<!DOCTYPE html>
<html>
<head>
  <title>HomeWork</title>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>

  <link rel="stylesheet" type="text/css" href="extjs/resources/css/ext-all.css">
  <link rel="stylesheet" type="text/css" href="resources/css/ext-self.css">

  <script type="text/javascript" src="extjs/ext-debug.js"></script>
  <script type="text/javascript" src="all-classes.js"></script>
  <script type="text/javascript" src="app.js"></script>

  <!--<script type="text/javascript" src="extjs/ext.js"></script>-->
  <!--<script type="text/javascript" src="app-all.js"></script>-->

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
